{% extends "auctions/layout.html" %}

{% block body %}
 
<h1>Category</h1>

<li> <a href="category_listing/General" method="get">General</a> </li>    
<li> <a href="category_listing/Sports" method="get">Sports</a> </li>    
<li> <a href="category_listing/Toys" method="get">Toys</a> </li>    
<li> <a href="category_listing/Electronics" method="get">Electronics</a> </li>
<li> <a href="category_listing/Accessories" method="get">Accessories</a> </li>
<li> <a href="category_listing/Books" method="get">Books</a> </li>
<li> <a href="category_listing/No Category" method="get">No Category</a> </li>


{% endblock %}

{% for each in listing %}
        <li> <a href="category_listing/{{each.category}}" method="get">{{ each.category }}</a> </li>

    {% endfor %}
